<div class="container text-center">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <%= link_to "", edit_task_path, class: "far fa-edit" %>
  <br>
  <%= link_to "Back to all tasks", tasks_path %>
</div>
